﻿@model ExamScheduler.Models.tbl_Exam

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStudentReschedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStudentReschedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsShowStudentReschedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsShowStudentReschedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllottedMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllottedMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollegeFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollegeFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReTakeFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReTakeFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acknowledgement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acknowledgement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_ExamGroup.ExamGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_ExamGroup.ExamGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Schedule.ScheduleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Schedule.ScheduleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
