﻿@model ExamScheduler.Models.tbl_Exam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStudentReschedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStudentReschedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsShowStudentReschedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsShowStudentReschedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllottedMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllottedMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollegeFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollegeFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReTakeFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReTakeFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acknowledgement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acknowledgement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_ExamGroup.ExamGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_ExamGroup.ExamGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Schedule.ScheduleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Schedule.ScheduleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
