﻿@model ExamScheduler.Models.tbl_Exam

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbl_Exam</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PK_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.ExamName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExamName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExamName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_ExamGroup, "FK_ExamGroup", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FK_ExamGroup", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_ExamGroup, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsStudentReschedule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <select class="form-control" id="IsStudentReschedule" name="IsStudentReschedule">
                        <option value="">Default Group</option>
                        <option @(Model.IsStudentReschedule==true ?"selected":"") value="true">Yes</option>
                        <option @(Model.IsStudentReschedule==false ?"selected":"") value="false">No</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.IsStudentReschedule, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsShowStudentReschedule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <select class="form-control" id="IsShowStudentReschedule" name="IsShowStudentReschedule">
                        <option value="">Default Group</option>
                        <option @(Model.IsShowStudentReschedule==true ?"selected":"") value="true">Yes</option>
                        <option @(Model.IsShowStudentReschedule==true ?"selected":"") value="false">No</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.IsShowStudentReschedule, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_Schedule, "FK_Schedule", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="FK_Schedule" name="FK_Schedule" class="form-control">
                    <option value="">Default Group</option>
                    @foreach (var item in ViewBag.FK_Schedule)
                    {
                        <option @(Model.FK_Schedule==item.PK_ID ?"selected":"") value="@item.PK_ID">@item.ScheduleName</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.FK_Schedule, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllottedMinutes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllottedMinutes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AllottedMinutes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CollegeFee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CollegeFee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CollegeFee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReTakeFee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReTakeFee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReTakeFee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea cols="80" id="Description" name="Description" rows="10" data-sample-short></textarea>
                <script>
                    CKEDITOR.replace('Description', {
                        height: 260,
                        width: 700,
                    });
                </script>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acknowledgement, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea cols="80" id="Acknowledgement" name="Acknowledgement" rows="10" data-sample-short></textarea>
                <script>
                    CKEDITOR.replace('Acknowledgement', {
                        height: 260,
                        width: 700,
                    });
                </script>
                @Html.ValidationMessageFor(model => model.Acknowledgement, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
