﻿@model IEnumerable<ExamScheduler.Models.tbl_Exam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_ExamGroup.ExamGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Schedule.ScheduleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/Exam/Edit?Id=@item.PK_ID">@item.ExamName</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_ExamGroup.ExamGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Schedule.ScheduleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_ID })
        </td>
    </tr>
}

</table>
