﻿@model ExamScheduler.Models.tbl_ExamRegistration
@{
    ViewBag.Title = "List";
}

<form action="/Exams/AddToCart" method="post">

    <h5>Exams Group</h5>
    <select name="examGroup" class="form-control" id="examsGroup"></select>

    <div class="hidden" id="child-exam-group">
        <h5>Child Exams Group</h5>
        <select name="examGroupChild" class="form-control" id="examsGroupChild"></select>
    </div>

    <h5>Exams</h5>
    <select name="FK_Exam" class="form-control" id="exams"></select>

    <h5>Date</h5>
    <div id="datepicker-box">
        <input name="Date" type="text" class="form-control" id="datepicker" />
    </div>

    <h5>Time</h5>
    <select name="Time" class="form-control" id="times"></select>

    <h5>First Name</h5>
    <input name="FirstName" type="text" placeholder="First Name" class="form-control" />

    <h5>Last Name</h5>
    <input name="LastName" type="text" placeholder="Last Name" class="form-control" />

    <h5>Email</h5>
    <input name="Email" type="text" placeholder="Email" class="form-control" />

    <h5>Confirm Email</h5>
    <input name="confirmEmail" type="text" placeholder="Confirm Email" class="form-control" />



    <input type="checkbox" class="checkbox" id="agree" />
    <label for="agree">I Agree</label>

    <div class="hidden" id="clep-voucher">
        <h5>CLEP Voucher</h5>
        <input name="VoucherNumber" type="text" placeholder="CLEP Voucher Number" class="form-control" />
    </div>

    <button disabled type="submit" id="add-to-cart">Add To Cart</button>


    <input type="text" id="testingDate" />

</form>

<script>
    $(function () {
        $("#datepicker").datepicker({ minDate: new Date(2020, 5, 5), maxDate: new Date(2020, 5, 10) });
    });
</script>
<script>
    $(document).ready(function () {
        $('#agree').click(function () {

            if ($('#agree').prop("checked")) {
                $('#add-to-cart').removeAttr('disabled');
            } else {
                $('#add-to-cart').attr('disabled', 'disabled');
            }

        })
        $('#exams').change(function () {
            $('#datepicker-box').html('');
            $('#datepicker-box').html('<input  name="Date" type="text" class="form-control" id="datepicker" />');

            var val = $(this).val();

            $.get("/Exams/GetExamDates?id=" + val, function (data, status) {

                var minDt = new Date(data.minDate);
                var maxDt = new Date(data.maxDate);

                var enableDatesArray = data.dates;


                $('#datepicker').datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    startDate: minDt,
                    endDate: maxDt,
                    beforeShowDay: function (date) {
                        var dt_ddmmyyyy = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
                        return [(enableDatesArray.indexOf(dt_ddmmyyyy) != -1)];
                    }
                });

            });
            $("#datepicker").change(function () {
                $.get("/Exams/GetExamTimes?id=" + val + "&date=" + $("#datepicker").val(), function (data, status) {

                    $('#times').html('');
                    var option = '<option value="">--Select--</option>';
                    $('#times').append(option);
                    var val = $('#exams').val();

                    console.log(data);

                    for (var i = 0; i < data.times.length; i++) {

                        //var timeFrom = new Date(data.times[i].TimeFrom)
                        var timeTo = new Date(data.times[i].TimeTo)
                        var iTime = new Date(data.times[i].TimeFrom)

                        while (timeTo >= iTime) {
                            var formate = iTime.toLocaleTimeString();
                            //data.times[i].PK_ID
                            var option = '<option value="' + formate + '">' + formate + '</option>';
                            $('#times').append(option);
                            iTime.setMinutes(iTime.getUTCMinutes() + 30)
                        }



                    }

                });

            });


        });

        $.get("/Exams/GetExamsGroup", function (data, status) {

            console.log(data);

            $('#examsGroup').html('');
            var option = '<option value="">--Select--</option>';
            $('#examsGroup').append(option);
            for (var i = 0; i < data.length; i++) {
                var option = '<option data-child="' + data[i].HasChild + '" value="' + data[i].PK_ID + '">' + data[i].ExamGroupName + '</option>';
                $('#examsGroup').append(option);
            }
        });

        $('#examsGroupChild').change(function () {
            var val = $(this).val();
            $.get("/Exams/GetExams?id=" + val, function (data, status) {
                $('#exams').html('');
                var option = '<option value="">--Select--</option>';
                $('#exams').append(option);
                for (var i = 0; i < data.length; i++) {
                    var option = '<option value="' + data[i].PK_ID + '">' + data[i].ExamName + ' ($' + data[i].Fee + ')</option>';
                    $('#exams').append(option);
                }
            });
        })

        $('#examsGroup').change(function () {

            var val = $(this).val();
            var txt = $("#examsGroup option:selected").text();

            if (txt.toLowerCase().indexOf("clep") >= 0) {
                $('#clep-voucher').removeClass('hidden');
            }
            else {
                $('#clep-voucher').addClass('hidden');
            }

            var hasChild = $(this).find(':selected').data('child');
            if (hasChild == true) {
                $('#child-exam-group').removeClass('hidden');

                $.get("/Exams/GetChildExamsGroup?id=" + val, function (data, status) {

                    console.log(data);

                    $('#examsGroupChild').html('');
                    var option = '<option value="">--Select--</option>';
                    $('#examsGroupChild').append(option);
                    for (var i = 0; i < data.length; i++) {
                        var option = '<option value="' + data[i].PK_ID + '">' + data[i].ExamGroupName + '</option>';
                        $('#examsGroupChild').append(option);
                    }
                });

            }
            else {
                $('#child-exam-group').addClass('hidden')

                $.get("/Exams/GetExams?id=" + val, function (data, status) {
                    $('#exams').html('');
                    var option = '<option value="">--Select--</option>';
                    $('#exams').append(option);
                    for (var i = 0; i < data.length; i++) {
                        var option = '<option value="' + data[i].PK_ID + '">' + data[i].ExamName + ' ($' + data[i].Fee + ')</option>';
                        $('#exams').append(option);
                    }
                });

            }





        });


    });
</script>

