﻿@model ExamScheduler.Models.tbl_ExamGroup

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_ExamGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowWalkInRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowWalkInRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriorityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelRescheduleFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelRescheduleFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatLimite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatLimite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelRescheduleDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelRescheduleDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowReschedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowReschedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acknowledgement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acknowledgement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_ExamGroup2.ExamGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_ExamGroup2.ExamGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Schedule.ScheduleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Schedule.ScheduleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
