﻿@model ExamScheduler.Models.tbl_ExamGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_ExamGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowWalkInRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowWalkInRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriorityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelRescheduleFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelRescheduleFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatLimite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatLimite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelRescheduleDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelRescheduleDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowReschedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowReschedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acknowledgement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acknowledgement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_ExamGroup2.ExamGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_ExamGroup2.ExamGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Schedule.ScheduleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Schedule.ScheduleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
