﻿@model IEnumerable<ExamScheduler.Models.tbl_ExamGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExamGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_ExamGroup2.ExamGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriorityNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <a href="/ExamGroup/Edit?id=@item.PK_ID">@item.ExamGroupName</a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tbl_ExamGroup2.ExamGroupName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PriorityNumber)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.PK_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PK_ID })
    </td>
</tr>
}

</table>
