﻿@model IEnumerable<ExamScheduler.Models.tbl_ScheduleDates>

@{
    ViewBag.Title = "Index";
    ExamScheduler.Models.tbl_Schedule schedule=(ExamScheduler.Models.tbl_Schedule) ViewBag.Schedule;
}

<form action="/ScheduleDates/CreateDates" method="post">
    <input type="hidden" name="FK_Schedule" value="@schedule.PK_ID" />
    <table>

        <tr>
            <td><h3>Edit <b>@schedule.ScheduleName</b> Dates</h3></td>
            <td></td>
        </tr>

        <tr>
            <td>Create dates between</td>
            <td><input type="date" name="dateFrom" class="form-control" /></td>
        </tr>
        <tr>
            <td>and</td>
            <td><input type="date" name="dateTo" class="form-control" /></td>
        </tr>

            <tr>
                <td>Allow students to schedule between</td>
                <td><input type="time" name="allow_timeFrom" class="form-control" /></td>
            </tr>
            <tr>
                <td>and</td>
                <td><input type="time" name="allow_timeTo" class="form-control" /></td>
            </tr>

        <tr>
            <td><h3>Only create dates on</h3></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" id="chkSun" name="day1" value="true" />
                <label for="chkSun">Sun</label>

                <input type="checkbox" id="chkMon" name="day2" value="true" />
                <label for="chkMon">Mon</label>

                <input type="checkbox" id="chkTue" name="day3" value="true" />
                <label for="chkTue">Tue</label>

                <input type="checkbox" id="chkWed" name="day4" value="true" />
                <label for="chkWed">Wed</label>

                <input type="checkbox" id="chkThu" name="day5" value="true" />
                <label for="chkThu">Thu</label>

                <input type="checkbox" id="chkFri" name="day6" value="true" />
                <label for="chkFri">Fri</label>

                <input type="checkbox" id="chkSat" name="day7" value="true" />
                <label for="chkSat">Sat</label>

                <input type="checkbox" id="chkClosedDates" name="chkClosedDates" value="true" />
                <label for="chkClosedDates">Create dates as closed</label>
            </td>
        </tr>

        <tr>
            <td>Maximum seats for this time (0=unlimited seats)</td>
            <td>
                <input type="number" name="Seats" class="form-control" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Dates" class="btn btn-success" /></td>
        </tr>

    </table>
</form>


<br />
<br />



<table class="table">
    <tr>
        <th>
            <input type="checkbox" class="checkbox" id="col-checkbox" />
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Closed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input data-id="@item.PK_ID" type="checkbox" class="checkbox row-checkbox" />
            </td>
            <td>
                @item.Date.Value.ToString("dddd dd,MMM yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @(item.Closed?"Yes":"No")
            </td>
            <td>
                @(item.Status?"Open":"Closed")
            </td>
            <td>
                @item.FromTime.Value.ToString("hh:mm tt")
            </td>
            <td>
                @item.ToTime.Value.ToString("hh:mm tt")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PK_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PK_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PK_ID })
            </td>
        </tr>
    }

</table>
<input id="btn-delete-selected" type="button" class="btn btn-danger" value="Delete Selected" />
<input id="btn-close-selected" type="button" class="btn btn-primary" value="Close Selected" />
<input id="btn-open-selected" type="button" class="btn btn-success" value="Open Selected" />

<script>
    $(document).ready(function () {


        
          $('#btn-open-selected').click(function () {

            var ids = "";

            $('.row-checkbox').each(function () {

                if ($(this).prop("checked") == true) {

                    ids += $(this).data("id") + ",";

                }
            });
            if (ids != "") {

                $.post("/ScheduleDates/MultiOpen", { Ids: ids }, function (data, status) {

                    if (data) {
                        location.reload(true);
                    }
                });

            }
        });

          $('#btn-close-selected').click(function () {

            var ids = "";

            $('.row-checkbox').each(function () {

                if ($(this).prop("checked") == true) {

                    ids += $(this).data("id") + ",";

                }
            });
            if (ids != "") {

                $.post("/ScheduleDates/MultiClose", { Ids: ids }, function (data, status) {

                    if (data) {
                        location.reload(true);
                    }
                });

            }
        });


        $('#btn-delete-selected').click(function () {

            var ids = "";

            $('.row-checkbox').each(function () {

                if ($(this).prop("checked") == true) {

                    ids += $(this).data("id") + ",";

                }
            });
            if (ids != "") {

                $.post("/ScheduleDates/MultiDelete", { Ids: ids }, function (data, status) {

                    if (data) {
                        location.reload(true);
                    }
                });

            }
        });





        $('#col-checkbox').click(function () {
            if ($(this).prop("checked") == true) {

                $('.row-checkbox').prop( "checked", true );
            }
            else {
                $('.row-checkbox').prop("checked", false);
            }
        });
        $('.row-checkbox').click(function () {

            var checked = false;
            var unchecked = false;
            $('.row-checkbox').each(function () {

                if ($(this).prop("checked") == true) {

                    checked = true;
                }
                else {
                    unchecked = true;
                }
            })
            if (checked == true && unchecked == false) {
                $("#col-checkbox").prop("indeterminate", false);
                $('#col-checkbox').prop("checked", true);
            }
            else if (checked == false && unchecked == true) {
                $("#col-checkbox").prop("indeterminate", false);
                $('#col-checkbox').prop("checked", false);
            }
            else if (checked && unchecked) {
                $("#col-checkbox").prop("indeterminate", true);
            }
        })
    });
</script>