﻿@model IEnumerable<ExamScheduler.Models.tbl_Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/ScheduleDates?id=@item.PK_ID"> @Html.DisplayFor(modelItem => item.ScheduleName)</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_ID })
        </td>
    </tr>
}

</table>
